
// variable up ^
$colors: (
	primary: (
		moderate-violet: hsl(263, 55%, 52%),
		dark-grayish-blue: hsl(217, 19%, 35%),
		dark-blackish-blue: hsl(219, 29%, 14%),
		white: hsl(0, 0%, 100%),
	),
		
	neutral: (
		light-gray: hsl(0, 0%, 81%),
		light-grayish-blue: hsl(210, 46%, 95%),
		w-transparent-70: hsla(0, 0%, 100%, 70%),
		w-transparent-50: hsla(0, 0%, 100%, 50%),
	),
);
